*{
    padding:0;
    margin:0;
}
.container{
    width: 1125px;
}
header .header-txt1{
    text-align: center;
}
header .fa1{
    font-size: 50px;
    padding: 15px 13px;
    margin-top: 30px;
    border: 5px #E5E5E5 solid;
    border-radius: 50%;
}
header h2{
    margin-top: 20px;
    color: #4284C4;
    font-size: 28px;
    font-weight: 600;
}
.header-txt2 p i{
    padding-right: 5px;
}
.header-txt2 a{
    color: #000000;
    text-decoration: none;
}
.header-title{
    width: 100%;
    height: 1px;
    background-color: #DDDEDE;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}
.header-title h3{
    margin:0px;
    font-weight: 600;
    font-size: 16px;
    color: #646464;
    background: #ffffff;
    display: inline-block;
    padding: 0px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
li{
    list-style: none;
}
#header .line{
    border: #dededf 1px solid;
    border-radius: 4px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}
#header .line .row{
    margin: 0px 10px;
}
#header .line .col-md-2,
#header .line .col-md-6{
    padding-left: 0px;
}
#header .line .col-md-4{
    padding: 0px 5px;
}
#header .line p{
    margin-top: 5px;
    font-size: 14px;
}
#header .line a i{
    margin-right: 5px;
}
#header .line a{
    padding:6px 13px;
    background-color: #e8e8e8;
    border-radius: 4px;
    display: inline-block;
    margin-top:10px;
}
#header .line img {
    margin-top: 11px;
}
#header h6{
    margin-top:15px;
    font-size: 14px;
    font-weight: 600;
}
#header .active{
    border: #2377B7 1px solid;
    border-radius: 4px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    background-color: #2386D0;
}